body {
  position: relative;
  font-family: Arial, sans-serif;
  z-index: 0;

  background-color: black;
}

#backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(120, 0, 256, 0.3), rgba(0, 0, 0, 0.1)), url("Backgrounds/starBackground.png");
  background-size: cover;
  background-position: center;
}

html, body {
  height: 100%;
}

.scroll-wrapper h1{
  text-align: center;
  color: white;
}


#carouselExampleCaptions {
  max-width: 700px;
  margin: 0 auto;
}

#heading{
  text-align: center;
  text-size-adjust: 20px;
}

#carouselExample {
  max-width: 600px; /* or any desired width */
  margin: auto;
}

header h1{
  color: white;
}

.card {
  margin: 2rem auto;
}

.card img {
  min-width: 18rem;
}

#beschreibung h4 {
    font-size: 1.2em;
    color: black;
    padding-left: 20px;
}

#beschreibung a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
}

/* Carousel button icon background styling */
#carouselExampleCaptions .carousel-control-prev-icon,
#carouselExampleCaptions .carousel-control-next-icon {
  background-color: black;
  border-radius: 20%;
}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.scroll-inner {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}